/*
* @Author: Administrator
* @Date:   2017-07-21 16:00:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-23 12:41:58
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


/* 头部开始 */
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
}

.youyike-bigbox{
	width: 2.01rem;
	height: 100%;
	/* background: green; */
	margin: 0 auto;
}
.logo-box{
	width: 0.7rem;
	height: 0.67rem;
	/* background: yellow; */
	float: left;
	margin-top: 0.13rem;
}
.logo-box img{
	display: block;
	width: 0.7rem;
	height: 0.67rem;
	/* background: red; */
	font-size: 0.28rem;

}
.zi-box{
	width:1.15rem;
	height: 0.36rem;
	font-size: 0.36rem;
	color: #fff;
	/* background: red; */
	float: right;
	line-height: 0.36rem;
	margin-top: 0.28rem; 
}
/* 头部结束 */



/* banner开始 */
.banner{
	width: 100%;
	height: 2.8rem;
	background: yellow;
}
.banner .a-biaoqianbox{
	display: block;
	width: 100%;
	height: 2.8rem;
	background: yellowgreen;
}
.a-biaoqianbox img{
	display: block;
	width: 100%;
	height: 2.8rem;

}
/* banner结束 */


/* 首页金牌师资开始 */
.syjpsz-bigbox{
	width: 100%;
	height: 0.42rem;
	background: #f5f6fa;
	padding-top: 0.30rem;
}
.syjpsz-zibox{
	width: 2.09rem;
	height: 0.23rem;
	/* background: yellow; */
	font-size: 0.23rem;
	color: #494747;
	line-height: 0.23rem;
	margin-left: 0.24rem;
}
.syjpsz-zibox a{
	color: #494747;
}
/* 首页金牌师资结束 */




/* UI讲师开始 */
.uijs-bigbox{
	width: 100%;
	height: 1.01rem;
	background: #f5f6fa;
}
.uijs-box{
	width: 7.02rem;
	height: 0.80rem;
	background: #f5f6fa;
	border: 0.02rem solid #01b5ff;
	box-sizing: border-box;
	border-radius: 0.09rem;
	margin-left: 0.24rem;
}

.uijs{
	width: 2.59rem;
	height: 0.76rem;
	background: #01b5ff;
	border-radius: 0.09rem;
	float: left;
	margin-top: 0rem;
	font-size: 0.25rem;
	color: #ffffff;
	line-height: 0.76rem;
	text-align: center;
}
.sanjiao{
	width: 0rem;
	height: 0rem;
	border-bottom: 0.22rem solid transparent;
	border-top: 0.12rem solid #01b5ff;
	border-right: 0.22rem solid transparent;
	border-left: 0.22rem solid transparent;
	margin-left: 1.18rem;
	margin-top: 0.78rem;
}


.qdydjs{
	width: 2.08rem;
	height: 0.76rem;
	/* background: yellow; */
	float: left;
	padding-left: 0.13rem;
	font-size: 0.25rem;
	line-height: 0.76rem;
}
.phpjs{
	width: 1.72rem;
	height: 0.76rem;
	/* background: yellow; */
	float: right;
	padding-left: 0.45rem;
	font-size: 0.25rem;
	line-height: 0.76rem;
}
/* UI讲师结束 */
/* 刘钊老师开始 */
.liuzhaolaoshi-bigbox{
	width: 100%;
	height: 2.8rem;
	background: #f5f6fa;
}
main{
	width: 7.02rem;
	height: 100%;
	margin: 0 auto;
}
.lzls{
	width: 100%;
	height: 2.8rem;
	background: #fff;
	border-bottom: 0.1rem solid #f5f6fa;
	box-sizing: border-box;
	overflow: hidden;
}

.lzlszp-box{
	width: 2.30rem;
	height: 2.30rem;
	background: #baa59f;
	border-radius: 0.05rem;
	margin-left: 0.21rem;
	margin-top: 0.20rem;
	float: left;
}
.lzlszp-box img{
	width: 2.30rem;
	height: 2.30rem;
}

.lzlsxm-box{
	width: 1.71rem;
	height: 0.47rem;
	/* background: yellow; */
	border-bottom: 0.01rem dashed #999999;
	box-sizing: border-box;
	float: left;
	line-height: 0.47rem;
	margin-top: 0.28rem;
	margin-left: 0.29rem;
	font-size: 0.25rem;
	clear: #111111;
}
.ckgd-box{
	width: 1.4rem;
	height: 0.23rem;
	/* background: red; */
	float: left;
	margin-left: 1.0rem;
	margin-top: 0.41rem;
	font-size: 0.23rem;
	line-height: 0.23rem;
}
.ckgd-box a{
	color: #ff9300;
}
.uisxzz-box{
	width: 1.44rem;
	height: 0.34rem;
	/* background: green; */
	float: right;
	margin-top: 0.16rem;
	margin-right: 2.77rem;
	font-size: 0.24rem;
	line-height: 0.34rem;
	color: #01b5ff;
}
.cs{
	width: 2.98rem;
	height: 0.24rem;
	/* background: yellow; */
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.23rem;
	font-size: 0.24rem;
	line-height: 0.24rem;
	color: #666666;
}
.zy{
	width: 3.38rem;
	height: 0.24rem;
	/* background: yellow; */
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.12rem;
	font-size: 0.24rem;
	line-height: 0.24rem;
	color: #666666;
}
.xy{
	width: 2.46rem;
	height: 0.24rem;
	/* background: yellow; */
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.12rem;
	font-size: 0.24rem;
	line-height: 0.24rem;
	color: #666666;
}
/* UI讲师结束 */

/* 底部开始 */
footer{
	width: 100%;
	height: 1.69rem;
	background: #f5f6fa;
}
.xxl{
	width: 100%;
	height: 0.70rem;
	background: #ffffff;
	overflow: hidden;
}
.zuojt a{
	display: block;
	width: 0.58rem;
	height: 0.31rem;
	background: yellow;
	float: left;
	margin-left: 0.13rem;
	margin-top: 0.19rem;
}
.zuojt a img{
	display: block;
	width: 0.58rem;
	height: 0.31rem; 
}



.yi a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.15rem;
	margin-top: 0.19rem;
}
.yi a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}


.er a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.15rem;
	margin-top: 0.19rem;
}
.er a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}


.san a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.san a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}


.si a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.si a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}

.wu a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.wu a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}


.sehngluehao a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.sehngluehao a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}


.sanshi a{
	display: block;
	width: 0.32rem;
	height: 0.3rem;
	float: left;
	background: yellow;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.sanshi a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}


.youjiantou a{
	display: block;
	width: 0.58rem;
	height: 0.31rem;
	float: left;
	background: yellow;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.youjiantou a img{
	display: block;
	width: 0.58rem;
	height: 0.31rem; 
}

.tiaozhuan{
	width: 0.85rem;
	height: 0.14rem;
	/* background: yellow; */
	float: left;
	font-size: 0.14rem;
	line-height: 0.14rem;
	margin-top: 0.26rem;
	margin-left: 0.14rem;
}

.shurukong{
	width: 0.56rem;
	height: 0.31rem;
	border-radius: 0.1rem;
	background: #fff;
	float: left;
	margin-top: 0.19rem;
	margin-left: 0.06rem;
	border: 0.01rem solid #e9e8e9;
	box-sizing: border-box;
	padding-left: 0.02rem;
	padding-top: 0.02rem;

}


.shurukong input{
	display: block;
	width: 0.41rem;
	height: 0.17rem;
	line-height: 0.31rem;
	text-align: center;
	/* color: yellow; */
	border-radius: 0.08rem;

}
.ye{
	width: 0.14rem;
	height: 0.13rem;
	margin-top: 0.27rem;
	margin-left: 0.06rem;
	float: left;
	/* background: yellow; */
	font-size: 0.13rem;
	line-height: 0.13rem;
}

.go a{
	display: block;
	width: 0.32rem;
	height: 0.32rem;
	float: left;
	/* background: yellow; */
	border-radius: 50%;
	margin-left: 0.14rem;
	margin-top: 0.19rem;
}
.go a img{
	display: block;
	width: 0.32rem;
	height: 0.32rem; 
}

/* 下面开始 */

.banquan{
	width: 100%;
	height: 0.23rem;
	/* background: yellow; */
	margin-top: 0.29rem;
	font-size: 0.23rem;
	line-height: 0.23rem;
	text-align: center;
	color: #666666;
}
.lianxi{
	width: 100%;
	height: 0.23rem;
	/* background: yellow; */
	margin-top: 0.12rem;
	font-size: 0.23rem;
	line-height: 0.23rem;
	text-align: center;
	color: #666666;
}
/* 底部结束 */